@font-face {
    font-family: 'Inter-Bold' ;
    src: url(../assets/fonts/static/Inter-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Inter-Extra-Bold';
    src: url(../assets/fonts/static/Inter-ExtraBold.ttf) format('truetype');
}
@font-face {
    font-family: 'Inter-Regular';
    src: url(../assets/fonts/static/Inter-Regular.ttf) format('truetype');
}
// Fonts
$inter : 'Inter-bold', sans-serif;
$interB : 'Inter-Extra-Bold', sans-serif;
$interR : 'Inter-Regular', sans-serif;
//Primary
$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);
//Neutral 
$blue: hsl(240, 100%, 5%);
$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$grayish-blue-dark: hsl(236, 13%, 42%);



* {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-family: $interR;
}
// header mob vertion & hamburger

#menuList {
    display: none;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px;
    padding-top: 13px;
    padding-right: 25px;
}

.hamburger {
    height: 17px;
    width: 40px;
    align-self: center;
}

      
#menu {
    position: absolute;
    left: 140px;
    background-color: white;
    width: 35vh;
    height: 1820px;
    visibility: hidden;
    z-index: 1;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    
}

.options {
    list-style: none;
    line-height: 50px;
    margin-top: 80px;
    margin-left: 30px;
    font-size: 18px;
}

li:hover {
    color: $soft-orange;
    cursor: pointer;
}

#flexX {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#fade {
    height: 1800px;

}

#btnClose {
    position: relative;
    left: 15px;
    top: 8px;
}


//main article mobile 

.mainArt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#retroImgMob {
    width: 375px;
    height: 300px;
    margin-top: 20px;
    
}

h1 {
    font-size: 40px;
    font-family: $interB;
    width: 343px;
    margin-top: 13px;
    line-height: 39px;
}

#artMainParag {
    color: $grayish-blue-dark;
    width: 343px;
    font-size: 15px;
    line-height: 29px;
    margin-top: 10px;
}


#orangeButton {
    position: relative;
    width: 185px;
    height: 48px;
    color: white;
    background-color: $soft-red;
    border: none;
    margin-top: 20px;
}

#orangeButton:hover {
    cursor: pointer;
    background-color: black;
}
// New articles

.flexNew {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

#newContainer {
    width: 343px;
    height: 440px;
    background-color: $blue;
    color: $off-white;
}

.newArticle {
    margin: 13px
}

h2 {
    margin: 13px;
    color: $soft-orange;
    font-family: $interB;
    font-size: 28px;
    margin-bottom: 30px;
}

h3 {
    font-size: 19px;
    font-family: $inter;
    color: $off-white;
    margin-bottom: 10px;
}

h3:hover {
    cursor: pointer;
    color: $soft-orange;
}

.newParag {
    color: $grayish-blue;
    font-size: 15px;
    width: 302px;
    margin-bottom: 20px;
    line-height: 25px;
}

hr {
    border-color: $grayish-blue-dark;
    margin-bottom: 30px;
    width: 302px;
}


// Top 3 articles

.flexDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    flex-direction: column;
}
.topArtImg {
  width: 100px;
  height: 129px;
  margin-right: 10px;
}

.topArticle {
    display: flex;
    justify-content: space-around;
    width: 349px;
    margin: 30px;
}

h4 {
    font-size: 32px;
    color: $grayish-blue;
    font-family: $inter;
    margin-bottom: 15px;
}

h5 {
    color: black;
    font-family: $inter;
    margin-bottom: 10px;
    font-size: 18px;
}

h5:hover {
    cursor: pointer;
    color: $soft-orange;
}

.paragTopArt {
    color: $grayish-blue-dark;
    font-size: 15px;
}

.topArtText {
    width: 219px;
}




// Desktop transformation 


@media screen and (min-width: 385px) {
    

    // header (menu)
    #btnClose {
        display: none;
    }
    #btnID {
        display: none;
    }
    #menu {
        display: none;
    }
    #menuList {
        display: block;
    }
    .options {
        display: flex;
        justify-content: space-around;
    }
    li {
        margin: 10px;
    }
    header {
        margin: 50px;
    }

    // main article 

    #retroImgMob {
        content: url("/assets/images/image-web-3-desktop.jpg");
        width: 730px;
        height: 300px;
    }

    #desktopFlex {
        display: flex;
        margin: 0px;
    }
    #orangeButton {
        left: 2px;
    }
    #desktopTopFlex {
        display: flex;
        justify-content: space-around;
        width: 1110px;
        
    }
    .flexNew {
        margin: 0px;
        left: 200px;
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #newContainer {
        height: 511px;
        margin-top: 20px;
    }

  #topArticles {
    display: flex;
    width: 1110px;
  }
    
  }
